<div style="height: 100%; display: flex; flex-direction: column;">
  <mat-toolbar>
    <mat-form-field>
      <mat-icon matPrefix>search</mat-icon>
      <input matInput [formControl]="searchText" placeholder="Filter icons..."/>
    </mat-form-field>

    <div class="spacer"></div>

    <button mat-icon-button [matMenuTriggerFor]="options">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #options="matMenu">
      <div mat-menu-item >
        <mat-slider [ngModel]="size | async" 
              (input)="sizeSubject.next($event.value)"
              min="20" max="300">
        </mat-slider>
      </div>

    </mat-menu>
  </mat-toolbar>

  <mat-list style="flex: 1 1 auto; display: flex; flex-direction: column;">
    <cdk-virtual-scroll-viewport [itemSize]="(size | async) + 5" style="flex: 1 1 auto">
      <mat-list-item *cdkVirtualFor="let icon of filteredIcons | async" class="icon-list-item">
        <app-icon-image [icon]="icon" [size]="size | async"></app-icon-image>

        
        <span style="padding-left: 10px;">
          {{icon.name.slice(0, icon.name.length - 4)}}
        </span>

        <mat-divider></mat-divider>
      </mat-list-item>
    </cdk-virtual-scroll-viewport>
  </mat-list>
</div>
